<!-- <div class="row m-4">
  <h1 class="mb-4">Contact</h1>

  <form id="contact-form" (ngSubmit)="onSubmit()" [formGroup]="contactForm" class="needs-validation">
    <div class="form-group mb-3">
      <label for="subject" class="form-label">Sélectionnez un Sujet :</label>
      <select name="subject" id="subject" class="form-select" formControlName="subject"
        (change)="activeOtherSubject($event)">
        <option value="prestation1">Prestation 1</option>
        <option value="prestation2">Prestation 2</option>
        <option value="prestation3">Prestation 3</option>
        <option value="prestation4">Prestation 4</option>
        <option value="prestation5">Prestation 5</option>
        <option value="Autre">Autre</option>
      </select>
    </div>
    @if( contactForm.controls["subject"].invalid && contactForm.controls["subject"].touched ||
    contactForm.controls["password"].dirty){
    <p class="text-danger">Veuillez sélectionner un sujet.</p>
    }




    @if(otherSubject){
    <div class="form-group mb-3">
      <label for="othersubject" class="form-label">Autre Sujet :</label>
      <input id="othersubject" type="text" class="form-control" formControlName="othersubject" />
    </div>
    }

    <div class="form-group mb-3">
      <label for="firstname" class="form-label">Nom :</label>
      <input id="firstname" type="text" class="form-control" formControlName="firstname" />
    </div>
    <div class="form-group mb-3">
      <label for="lastname" class="form-label">Prénom :</label>
      <input id="lastname" type="text" class="form-control" formControlName="lastname" />
    </div>
    <div class="form-group mb-3">
      <label for="email" class="form-label">Email :</label>
      <input id="email" type="email" class="form-control" formControlName="email" />
    </div>
    <div class="form-group mb-3">
      <label for="message" class="form-label">Message :</label>
      <textarea id="message" class="form-control" formControlName="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">
      Envoyer
    </button>
  </form>
</div> -->
<div class="container vh-100 mt-4">
  <h2>Nous contacter</h2>
  <div class="mt-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="contactForm" class="needs-validation">
      <div class="form-group mb-3">
        <label class="form-label" for="subject">Sélectionnez un Sujet :</label>
        <select (change)="activeOtherSubject($event)" class="form-select" formControlName="subject" id="subject">
          <option value="">Choisissez...</option>
          <option value="commande">Commande</option>
          <option value="retours">Réclamations et Retours</option>
          <option value="service">Services et Tarifs</option>
          <option value="probleme">Problème de Service</option>
          <option value="special">Partenariats et Offres Spéciales</option>
          <option value="autre">Autre sujet</option>
        </select>
        <div *ngIf="contactForm.get('subject')?.touched && contactForm.get('subject')?.invalid" class="text-danger">
          Veuillez sélectionner un sujet.
        </div>
      </div>

      <div *ngIf="otherSubject" class="form-group mb-3">
        <label class="form-label" for="othersubject">Autre Sujet :</label>
        <input class="form-control" formControlName="othersubject" id="othersubject" type="text" />
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="firstname">Nom :</label>
        <input class="form-control" formControlName="firstname" id="firstname" type="text" />
        <div *ngIf="contactForm.get('firstname')?.touched && contactForm.get('firstname')?.invalid" class="text-danger">
          Le nom est requis.
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="lastname">Prénom :</label>
        <input class="form-control" formControlName="lastname" id="lastname" type="text" />
        <div *ngIf="contactForm.get('lastname')?.touched && contactForm.get('lastname')?.invalid" class="text-danger">
          Le prénom est requis.
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="email">Email :</label>
        <input class="form-control" formControlName="email" id="email" type="email" />
        <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid" class="text-danger">
          L'email est requis.
        </div>
        <!-- <div *ngIf="contactForm.get('email')?.errors?.['required']" class="text-danger">L'email est requis.</div> -->
        <div *ngIf="contactForm.get('email')?.errors?.['email']" class="text-danger">L'email n'est pas valide.</div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="message">Message :</label>
        <textarea class="form-control" formControlName="message" id="message"></textarea>
        <div *ngIf="contactForm.get('message')?.touched" class="text-danger">
          Le message est requis.
        </div>
      </div>

      <button [disabled]="!contactForm.valid" class="btn btn-primary w-100" type="submit">
        Envoyer
      </button>
    </form>
  </div>
</div>
