<aside id="sidebar" class="sidebar">
  <nav>
    <ul class="nav flex-column">
      <h6 *ngIf="roles.includes('ROLE_ADMIN')" class="text-uppercase">Espace Admin</h6>
      <h6 *ngIf="roles.includes('ROLE_EMPLOYEE')" class="text-uppercase">Espace Employé</h6>
      <h6 *ngIf="roles.includes('ROLE_CLIENT')" class="text-uppercase">Espace Client</h6>

      <li class="nav-item" (click)="this.sidebarService.toggleSidebar()">
        <div class="nav-link">
          <img alt="Fermer" src="./assets/image/close-x.svg" />
        </div>
      </li>



      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard/home">
          <img alt="Accueil" src="./assets/admin/home.svg" />
          <p>Accueil</p>
        </a>
      </li>

      <!-- Admin Section -->
      <li class="nav-item" *ngIf="roles.includes('ROLE_ADMIN')">
        <a class="nav-link" routerLink="/admin/dashboard/orderlist">
          <img alt="Les Commandes" src="./assets/admin/commande.png" />
          <p>Les Commandes</p>
        </a>
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_ADMIN')">
        <a class="nav-link" routerLink="/admin/dashboard/tasklist">
          <img alt="Les tâches" src="./assets/admin/shopping-cart.svg" />
          <p>Les tâches</p>
        </a>
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_ADMIN')">
        <a class="nav-link" routerLink="/admin/dashboard/userlist">
          <img alt="Utilisateurs" src="./assets/admin/user.png" />
          <p>Utilisateurs</p>
        </a>
      </li>

      <!-- Employé Section -->
      <li class="nav-item" *ngIf="roles.includes('ROLE_EMPLOYEE')">
        <a class="nav-link" routerLink="/admin/dashboard/tasklist">
          <img alt="Mes tâches" src="./assets/admin/commande.png" />
          <p>Mes tâches</p>
        </a>
      </li>

      <!-- Client Section -->
      <li class="nav-item" *ngIf="roles.includes('ROLE_CLIENT')">
        <a class="nav-link" routerLink="/admin/dashboard/depot">
          <img alt="Faire un dépôt" src="./assets/admin/shopping-cart.svg" />
          <p>Faire un dépôt</p>
        </a>
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_CLIENT')">
        <a class="nav-link" routerLink="/admin/dashboard/orderlist">
          <img alt="Mes commandes" src="./assets/admin/list-order.svg" />
          <p>Mes commandes</p>
        </a>
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_CLIENT')">
        <a class="nav-link" routerLink="/admin/dashboard/cart">
          <img alt="Mon panier" src="./assets/admin/shopping-cart.svg" />
          <p>Mon panier</p>
        </a>
      </li>

      <!-- Commun Section -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard/profil">
          <img alt="Mes Informations" src="./assets/admin/profil.svg" />
          <p>Mes Informations</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">
          <img alt="Nous Contacter" src="./assets/admin/email.svg" />
          <p>Nous Contacter</p>
        </a>
      </li>
      <li class="nav-item" (click)="logout()">
        <div class="nav-link">
          <img alt="Déconnexion" src="./assets/admin/deconnexion.svg" />
          <p>Me Déconnexion</p>
        </div>
      </li>


    </ul>
  </nav>
</aside>