.sidebar {
  height: 100vh;
  padding-top: 1rem;
  /* background-color: #009fdd; */
  background-color: #ace5fc;
  transition: transform 0.3s ease-in-out;
  color: black;
  width: 250px;

}

nav {
  padding-left: 25px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 10px;
}

.close {
  display: flex;
  justify-content: end;
  align-items: center;
}

.sidebar .nav-link:hover {
  color: whitesmoke;
  background-color: #009fdd;
  cursor: pointer;
}

.sidebar .nav-link {
  color: black;
  display: flex;
  align-content: center;

}

.sidebar-open {
  transform: translateX(0);
}