.trash {
  object-fit: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cartProduct {
  object-fit: contain;
  width: 50px;
  height: 50px;
}

.close {
  width: 20px;
  height: 20px;
  object-fit: cover;
  cursor: pointer;
}

.shopping-cart {
  position: fixed;
  top: 20px;
  right: 70px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
