<!-- <section class="container">
  <section id="cathegorie">
    <h4>Choisissez un service</h4>
    <select [(ngModel)]="selectedServicesId" (change)="selectedService($event)">
      <option value="Tout les services" selected>Tout les services</option>
      <option *ngFor="let service of arrayServices" [value]="service.id">
        {{ service.name }}
      </option>
        }
</select>
</section>
<section class="d-flex justify-content-between align-items-center">
  <div class="col-md-6" id="container-article-depot">
    <h4>Choisissez vos articles pour ce service</h4>
    <div class="d-flex justify-content-between align-items-center">
      <div *ngFor="let cathegory of arrayCategorySelectedService" class="card-cathegory">
        <h5>{{ cathegory.name }}</h5>
        <h5>{{ cathegory.id }}</h5>
        <img src="../../../assets/image/articles/Chemise-homme.jpg" alt="{{ cathegory.name }}" />
          <app-quantity-selector [inQuantity]="quantity" (outQuantity)="getQuantity($event)" ></app-quantity-selector>
        <app-quantity-selector [inQuantity]="cathegory.quantity"
          (outQuantity)="updateQuantity(cathegory.id, $event)"></app-quantity-selector>
        <button (click)="addToCart(cathegory.id)">Ajouter au panier</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-cart></app-cart>
  </div>
</section>
</section> -->

<section class="container">
  <section id="cathegorie">
    <h4>Choisissez un service</h4>
    <select [(ngModel)]="selectedServicesId" (change)="selectedService($event)">
      <option value="Tout les services" selected>Tout les services</option>
      <option *ngFor="let service of arrayServices" [value]="service.id">
        {{ service.name }}
      </option>
    </select>
  </section>
  <section class="row">
    <div class="col-md-6">
      <h1>Article</h1>
      <div *ngFor="let category of arrayCategoriesOfSelectedService" class="col">
        <div class="card m-2 p-2" style="width: fit-content;">
          <div class="d-flex flex-column justify-content-between align-items-center">
            <img src="{{baseUrlImageCategories}}/{{category.image}}" class="card-img-top" alt="{{ category.name }}">
            <h5 class="card-title">{{ category.name }}</h5>
            <app-quantity-selector [inQuantity]="quantity"
              (outQuantity)="updateQuantity(category.id, $event)"></app-quantity-selector>
            <button class="btn btn-primary mt-2" (click)="addToCart(category.id)">Ajouter au panier</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <app-cart></app-cart>
    </div>
  </section>
</section>

<!-- <section class="d-flex justify-content-between align-items-center">
    <div class="col-md-6" id="container-article-depot">
      <h4>Choisissez vos articles pour ce service</h4>
      <div class="d-flex justify-content-between align-items-center">
        <div *ngFor="let category of arrayCategorySelectedService" class="card-cathegory">
          <h5>{{ category.name }}</h5>
          <h5>{{ category.id }}</h5>
          <img src="../../../assets/image/articles/Chemise-homme.jpg" alt="{{ category.name }}" />
          <app-quantity-selector [inQuantity]="quantity"
            (outQuantity)="updateQuantity(category.id, $event)"></app-quantity-selector>
          <button (click)="addToCart(category.id)">Ajouter au panier</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-cart></app-cart>
    </div>
  </section> -->