<section class="container">
  <div class="col-12">
    <section class="services-list">
      <h4>1 - Choisissez un service</h4>
      <!-- SELECT POUR LES SERVICES -->
      <select (change)="selectedService($event)" [(ngModel)]="selectedServicesId">
        <option *ngFor="let service of serviceService.arrayServices" [value]="service.id">
          {{ service.name }}
        </option>
      </select>
    </section>
    <!-- SECTION DES CATEGORES -->
    <section class="section-categories-list">
      <h4>2 - Séléctionner une catégorie de vêtement</h4>
      <ul class="categories-list">
        <li class="d-flex w-100 justify-content-between align-items-center border-bottom mb-2"
          *ngFor="let category of arrayTempCategories">
          <div class="col-md-3">
            <img alt="{{ category.name }}" src="{{baseUrlImageCategories}}/{{category.image}}">
          </div>
          <div class="col-md-4">
            <h5 class="card-title">{{ category.name }}</h5>
          </div>
          <div class="col-3 text-center">
            <div class="col">
              <app-quantity-selector [inQuantity]="quantity" (outQuantity)="updateQuantity(category.id, $event)">
              </app-quantity-selector>
            </div>
            <div class="col">
              <button (click)="addToCart(category)" class="btn btn-primary mt-2">
                Ajouter au panier
              </button>
            </div>
          </div>
        </li>
      </ul>
      <button (click)="serviceShoppingCart.validedOrder()" class="btn btn-primary mt-2">
        Valider la commande
      </button>
    </section>
  </div>
</section>