<div class="row m-4">
  <h1 class="mb-4">Contact</h1>

  <form (ngSubmit)="onSubmit()" class="needs-validation" id="contact-form">
    <div class="form-group mb-3">
      <label class="form-label" for="subject">Sélectionnez un Sujet :</label>
      <select class="form-select" formControlName="subject" id="subject" name="prestation">
        <option value="prestation1">Prestation 1</option>
        <option value="prestation2">Prestation 2</option>
        <option value="prestation3">Prestation 3</option>
        <option value="prestation4">Prestation 4</option>
        <option value="prestation5">Prestation 5</option>
        <option value="prestation6">Prestation 6</option>
      </select>
    </div>
    <div class="form-group mb-3">
      <label class="form-label" for="othersubject">Autre Sujet :</label>
      <input class="form-control" formControlName="othersubject" id="othersubject" type="text"/>
    </div>
    <div class="form-group mb-3">
      <label class="form-label" for="firstname">Nom :</label>
      <input class="form-control" formControlName="firstname" id="firstname" type="text"/>
    </div>
    <div class="form-group mb-3">
      <label class="form-label" for="lastname">Prénom :</label>
      <input class="form-control" formControlName="lastname" id="lastname" type="text"/>
    </div>
    <div class="form-group mb-3">
      <label class="form-label" for="email">Email :</label>
      <input class="form-control" formControlName="email" id="email" type="email"/>
    </div>
    <div class="form-group mb-3">
      <label class="form-label" for="message">Message :</label>
      <textarea class="form-control" formControlName="message" id="message"></textarea>
    </div>
    <button [disabled]="!contactForm.valid" class="btn btn-primary" type="submit">
      Envoyer
    </button>
  </form>
</div>
