<div class="d-flex justify-content-center align-items-start vh-100">
  <div class="mt-5 w-50">
    <h2>Se connecter</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="needs-validation">
      <div formGroupName="credentials">
        <div class="form-group mb-3">
          <label class="form-label" for="username">Votre email</label>
          <input class="form-control" formControlName="username" id="username" placeholder="Entrez votre email"
            type="email">
          <div *ngIf="loginForm.get('username')?.errors?.['required']">L'email est requis.</div>
        </div>

        <div class="form-group mb-3">
          <label class="form-label" for="password">Votre mot de passe</label>
          <input class="form-control" formControlName="password" id="password" placeholder="Entrez votre mot de passe"
            type="password">
        </div>

        <div *ngIf="serverErrorMessages" class="text-danger">
          {{ serverErrorMessages }}
        </div>
        <button [disabled]="loginForm.invalid" class="btn btn-primary w-100" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>