<div class="container vh-100 mt-4">
  <h2>Inscription</h2>
  <div class="mt-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="needs-validation">
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input class="form-control" formControlName="email" id="email" type="email" />
        <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid" class="text-danger">
          <div *ngIf="signupForm.get('email')?.errors?.['required']">L'email est requis.</div>
          <div *ngIf="signupForm.get('email')?.errors?.['email']">L'email n'est pas valide.</div>
          <div *ngIf=" serverErrorMessages " class="text-danger">{{ serverErrorMessages }}.</div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="password">Mots de passe</label>
        <input class="form-control" formControlName="password" id="password" type="password" />
        <div *ngIf=" signupForm.get('password')?.touched && signupForm.get('password')?.invalid" class="text-danger">
          <div *ngIf="signupForm.get('password')?.errors?.['required']">Le mots de passe est requis.</div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="secondpassword">Confirmer le mot de passe</label>
        <input class="form-control" formControlName="secondpassword" id="secondpassword" type="password" />
        <div *ngIf=" signupForm.get('secondpassword')?.touched && signupForm.get('secondpassword')?.invalid"
          class="text-danger">
          <div *ngIf="signupForm.get('secondpassword')?.errors?.['required']">Le mots de passe est requis.</div>
        </div>
      </div>
      <div *ngIf="signupForm.get('password')?.value !== signupForm.get('secondpassword')?.value
                          && signupForm.get('secondpassword')?.touched" class="text-danger">
        Les mots de passe ne correspondent pas.
      </div>
      <button [disabled]="!signupForm.valid" class="btn btn-primary" type="submit">
        S'inscrire
      </button>
    </form>
  </div>
</div>