<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th class="text-center" scope="col">Service</th>
        <th class="text-center" scope="col">Catégorie</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col">Prix</th>
        <th class="text-center" scope="col">Quantité</th>
        <th class="text-center" scope="col">Détail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrayItemCommande; let i = index">

        <td class="text-center">{{ item.service?.name }}</td>
        <td class="text-center">{{ item.category?.name }}</td>
        <td class="text-center">{{ item.itemStatus?.name }}</td>
        <td class="text-center">{{ item.service?.price}} <span>€</span></td>
        <td class="text-center">{{ item.quantity }}</td>
        <td class="text-center">{{ item.detailItem || 'Aucun détail' }}</td>
      </tr>
    </tbody>
  </table>
</div>