svg {
  height: 30px;
  width: 50px;
  cursor: pointer;
}

.cart {
  padding: 10px;
  width: fit-content;
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

p {
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: white;

}

.container-header {
  height: fit-content;
  border-bottom: 1px solid #3498db;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: contents;
}


/* Style du bouton menu burger (visible uniquement en mobile) */
.burger-menu {
  display: none;
}

@media (max-width: 767px) {
  .burger-menu {
    cursor: pointer;
    display: contents;
    /* Visible uniquement sur mobile */
  }
}