<div class="body-paiement">
<div class="Col">
    <div class="div-box Col fond">
        <h2> 3.Selectionnez votre mode de paiement</h2>
        <div class="itemMethode border-top ">
            <div class="ligne itemMethode">
                <div>Par carte</div>
                <div>></div>
            </div>
            <div class="itemMethode">
                <div class="ligne">
                    <div>PayPal</div>
                    <div>></div>
                </div>
            </div>
            <div class="itemMethode border-bottom">
                <div class="ligne">
                    <div>Google Pay</div>
                    <div>></div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-box Col fond ">
        <div class="articleCommander">
            <ol class="item">
                <li class="item">
                    <div>Quantité</div>
                    <div>Nom Article</div>
                    <div>Prix</div>
                </li>
            </ol>

        </div>
        <div class="Col fond">
            <div>Sous-totale</div>
            <div>Livraison:</div>
            <div>Taxe: 20%</div>

        </div>
        <div class="ligne fond totalCommande">
            <div>totale de la commande:</div>
            <div>2000€</div>

        </div>
        <button>Compléter la commande</button>
    </div>

</div>
</div>