<header class="header">
  <div>
    <img src="./assets/admin/left-arrow.svg" alt="Retour" class="image" />
    <div class="div-cart-burger">
      <div id="div-cart">
        <div id="div-cart-img">
          <img class="image" id="cart" src="./assets/admin/shopping-cart.svg" alt="Menu" (click)="toggleMenu()" />
          <p>Panier</p>
        </div>
        <span>1</span>
      </div>
      <div id="div-menu ">
        <img class="image" id="burger" src="./assets/admin/menuburger_icon.svg" alt="Menu" (click)="toggleMenu()" />
        <p>Menu</p>
      </div>
    </div>
  </div>
  <nav>
    <a routerLink="/landing" class="link">Accueil </a>
    <a routerLink="/admin/dashboard" class="link">Dashboard </a>
    <a routerLink="/page-depot" class="link">Déposer vos articles</a>
    <a routerLink="/cart" class="link">Panier</a>
    <a routerLink="/formulaire" class="link">formulaire</a>
    <a routerLink="/paiement" class="link">paiement</a>
    <a href="/login" class="link">Login</a>
  </nav>
</header>