.card-service {
  background-color: #faf9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  margin: 10px;
}

.list-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

p {
  font-size: large;
  margin: 5px;
}

h2 {
  margin: 15px;
}
