<div *ngIf="user.roles?.includes('ROLE_ADMIN')">ADMIN</div>
<div *ngIf="user.roles?.includes('ROLE_EMPLOYEE')">EMPLOYEE</div>
<div *ngIf="user.roles?.includes('ROLE_CLIENT')">CLIENT</div>

<table class="table">
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Reférence</th>
      <th class="text-center" scope="col">Date de dépot</th>
      <th class="text-center" scope="col">Date de réglement</th>
      <th class="text-center" scope="col">Date de retour</th>
      <th class="text-center" scope="col">Montant</th>
      <th class="text-center" scope="col">Status</th>
      <th class="text-center" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of arrayCommandes" i="index" let>
      <th scope="row">{{ row.id }}</th>
      <td class="text-center">{{ row.ref }}</td>
      <td class="text-center">{{ row.filingDate | date : "shortDate" }}</td>
      <td class="text-center">{{ row.paymentDate | date : "shortDate" }}</td>
      <td class="text-center">{{ row.returnDate | date : "shortDate" }}</td>
      <td class="text-center">100 <span>€</span></td>
      <td class="text-center">En cours</td>
      <td class="text-center">
        <button class="btn btn-success mx-1" type="button">Détail</button>
        <button class="btn btn-danger mx-1" type="button">Facture</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <section id="orderlist">
  <div>
    <h2>Liste des Commandes</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Client</th>
          <th>Montant Total</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let commande of commandes[]">
          <td>{{ commande.id }}</td>
          <td>{{ commande.client }}</td>
          <td>{{ commande.montantTotal }} €</td>
          <td>{{ commande.statut }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<h2>Liste des commandes</h2>
<section>
  <div>
    <table>
      <tr>
        <th>N° Commande</th>
        <th>Date</th>
        <th>Montant</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>Commande 1</td>
        <td>01/01/2022</td>
        <td>100€</td>
      </tr>
    </table>
  </div>
</section> -->