.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.member-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.1s ease;
  /* Transition fluide */
}

.sidebar {
  width: 250px;
  /* Largeur de la sidebar */
  height: 100vh;
  /* Prend toute la hauteur */

  /* Couleur de fond */
  color: white;
  /* Texte en blanc */
  transition: transform 0.3s ease;
  /* Transition pour l'animation mobile */


}


/* Styles pour la sidebar toujours visible en desktop */
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
    /* Sidebar visible en desktop */
  }

  /* .main-content {
    margin-left: 250px;

  } */
}

/* Sidebar en version mobile (initialement cachée) */
@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    /* Sidebar occupe 80% de l'écran en mobile */
    height: 100%;
    transform: translateX(-100%);
    /* Masquée par défaut */
    z-index: 1050;
    /* Assurez-vous qu'elle est au-dessus du contenu principal */
  }

  .sidebar-open {
    transform: translateX(0);
    /* Sidebar visible en mobile */
  }

  .sidebar-closed {
    transform: translateX(-100%);
    /* Sidebar cachée en mobile */
  }

  .main-content {
    margin-left: 0;
    /* Pas de décalage pour le contenu principal en mobile */
  }
}



.main-content {
  margin-left: 0;

}