<section id="welcome">
  <div>
    <h2>Bonjour {{ user?.firstname}} {{ user?.lastname }}</h2>
    <p>
      Bienvenue sur votre tableau de bord personnel.
    </p>
    <h2>Merci de complèter vos informations personnel dans la section "Mes informations"</h2>
    <p>
      Vous trouverez ici toutes les informations nécessaires pour gérer vos
      commandes, consulter vos factures, et bien plus encore. N'hésitez pas à
      explorer et à profiter de nos services conçus pour faciliter votre
      quotidien.
    </p>
    <p>
      Si vous avez des questions ou besoin d'assistance, notre équipe de support
      est à votre disposition. Merci d'avoir choisis Prestige Pressing
      pour prendre soin de vos vêtements.
    </p>
  </div>
</section>