<section aria-labelledby="team">
  <h2>Toute l'équipe de Pressing Prestige vous souhaite la bienvenue !</h2>
  <h3>Voici les présentations</h3>
  <ul>
    <li>
      <img src="./assets/avatar/avatar-woman-1.svg" alt="Martine, responsable du lavage et nettoyage">
      <div>
        <h4>Martine</h4>
        <p>Lavage et nettoyage</p>
      </div>
    </li>
    <li>
      <img src="./assets/avatar/avatar-man-1.svg" alt="John, expert en repassage et lavage">
      <div>
        <h4>John</h4>
        <p>Repassage et lavage</p>
      </div>
    </li>
    <li>
      <img src="./assets/avatar/avatar-man-2.svg" alt="Stéphane, expert en couture">
      <div>
        <h4>Stéphane</h4>
        <p>Notre expert en couture</p>
      </div>
    </li>
    <li>
      <img src="./assets/avatar/avatar-woman.svg" alt="Létitia, la chef">
      <div>
        <h4>Létitia</h4>
        <p>La chef</p>
      </div>
    </li>
    <li>
      <img src="./assets/avatar/avatar-man.svg" alt="Bernard, le chef">
      <div>
        <h4>Bernard</h4>
        <p>Le chef</p>
      </div>
    </li>
  </ul>
</section>