<div class="body-panier">
  <h2>Mon Panier</h2>
  <div class="panier">
    <div *ngIf="ListeArticlesDansPanier.length === 0">
      <p>Votre panier est vide.</p>
    </div>

    <!--Barre du hant pour commander les préstations -->
    <div class="bar-commande-article">
      <!--Article 
    <div class="div-article">
      <h4>Choisissez votre article</h4>      
      <select title="selectVetement" name="vetement" id="vetement-select"
      [(ngModel)]="selectedArticleId"
       (change)="onArticleChange()">
        @for (vetement of listeDesArticles; track vetement) {
        <option [value]="vetement.id">{{vetement.titre}}</option>
        }
      </select>
    </div>
    <!-- Quantité 
    <div class="quantite-article">
      <div class="div-quantite">
        <input class="btn-quantity-moins" (click)="diminuerQuantite()" type="button" value="-" />
        <input class="inputText" title="number" id="id_quantite" name="quantite" [value]="NbArticle"/>
        <!-- [(ngModel)] 
        <input class="btn-quantity-plus" (click)="augmenterQuantite()" type="button" value="+" />
      </div>
    </div>
    <!-- Prestation 
    <div class="div-Prestation">
      <h4>Choisissez les préstations pour vos {{NbArticle}} Articles</h4>
      <select title="selectPrestation" name="Prestation" id="Prestation-select"
       [(ngModel)]="selectedPrestationId"
       (change)="onPrestationChange()">
        @for (Prestation of listeDesPrestations ; track Prestation) {
        <option [value]="Prestation.id">{{Prestation.titre}}</option>
        }
      </select>
      
    </div>
    <div class="div-addPrestation">
      <button type="button" (click)="ajouterPrestation()" >Ajouter une préstation </button>
    </div>
   
        <div class="total-article">
          <p>Total : {{ 13.30 | currency }}</p>
        </div> 
        <!--
        <p>Total : {{ calculerTotalArticle(article.prix) | currency }}</p>
        <button (click)="supprimerArticle(article.id)">Supprimer</button>
       
    <div class="div-addpanier">
      <button type="button" (click)="ajouterAuPanier()">Ajouter au panier</button>
      <!-- 
        <img  src="/assets/image/add-to-cart.png" 
        alt="Ajouter au panier" width="10%" 
        onclick="ajouterAuPanier()"> 
       
    </div>
  </div><!--Fin boucle for -->


    </div>

    <div class="total-panier" *ngIf="ListeArticlesDansPanier.length > 0">
      <!-- <h3>Total du Panier : {{ calculerTotalPanier() | currency }}</h3>
      <button (click)="validerCommande()">Valider la Commande</button>
      -->
    </div>
    <!--****************************** Liste des commande********************************** -->
    <div *ngFor="let ArticlesDansPanier of ListeArticlesDansPanier" class="liste-commande-article">
      <div class="Article-commander">
        <!-- <h4>Vos articles</h4> -->
        <div class="commande-articles">
          <h3>{{listeDesArticles[ArticlesDansPanier.id].titre }}</h3>
        </div>
        <div class="liste-Prestation">
          <!-- <h4>Les préstasions </h4> -->
          <div *ngFor="let Prestation of ArticlesDansPanier.prestation" class="liste-Prestation-commander">
            <div class="Prestation-commander">
              <p>{{listeDesPrestations[Prestation].titre }}</p>
            </div>

            <div class="prix-Prestation">
              <p>Prix unitaire : {{ listeDesPrestations[Prestation].prix}} </p>
            </div>
            <div class="sup-Prestation">
              <img src="/assets/image/poubelle.png" alt="Supprimer" width="20%" onclick="supprimerPrestation()">

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>