<footer id="footer">
  <div>
    <h5>Plus d'informations</h5>
    <ul>
      <li>
        <span>Nos réseaux sociaux</span>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true">Instagram</i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
      </li>
      <li><a href="#condition-generales-de-vente">Nos CGV</a></li>
      <li><a href="#mentions-legales-et-cgu">Mentions légales et CGU</a></li>
      <li><a href="#politique-de-protection-des-donnees">Politique de protection de données</a></li>
    </ul>
  </div>
    <div>
        <h5> Notre Boutique </h5>
        <p>11 rue Dupont 69005 Lyon</p>
        <p>04 72 38 12 69 57</p>
        <h5> Horaires </h5>
        <p>du lundi au vendredi : 8h50 - 19h50</p>
        <p>samedi : 10h - 18h</p>
    </div>
  <div>
    <h5>Prestations &amp; Services</h5>
    <ul>
      <li><a href="#commander">Commander en ligne</a></li>
      <li><a href="#boutique">Découvrir notre boutique</a></li>
      <li><a href="#historique-commandes">Historique des commandes</a></li>
      <li><a href="#nous-contacter">Contactez-nous</a></li>
    </ul>
  </div>
</footer>
