<div *ngIf="userRoles?.includes('ROLE_ADMIN')">ADMIN</div>
<div *ngIf="userRoles?.includes('ROLE_EMPLOYEE')">EMPLOYEE</div>

tâckesh
<table class="table">
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Reférence commande</th>
      <th class="text-center" scope="col">Service</th>
      <th class="text-center" scope="col">Quantité</th>
      <th class="text-center" scope="col">Employer</th>
      <th class="text-center" scope="col">Montant</th>
      <th class="text-center" scope="col">Status</th>
      <th class="text-center" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of arrayItems" let i="index">
      <th scope="row">{{ row.id }}</th>
      <td class="text-center">{{ row.commande }}</td>
      <td class="text-center">{{ row.service }}</td>
      <td class="text-center">{{ row.quantity }}</td>
      <td class="text-center">{{ row.employee}}</td>
      <td class="text-center">{{ row.price}} <span>€</span></td>
      <td class="text-center">{{ row.itemStatus}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-success mx-1">Détail</button>
        <button type="button" class="btn btn-danger mx-1">Facture</button>
      </td>
    </tr>
  </tbody>
</table>
