<div *ngIf="userRoles?.includes('ROLE_ADMIN')">ADMIN</div>
<div *ngIf="userRoles?.includes('ROLE_EMPLOYEE')">EMPLOYEE</div>

<ul>
  <li *ngFor="let task of arrayTasks">
    <app-task [task]="task" [arrayItemStatus]="arrayItemStatus" (emitStatus)="newStatus()"></app-task>
  </li>
</ul>
<!-- <table class="table">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Reférence commande</th>
      <th class="text-center">Service</th>
      <th class="text-center">Catégorie</th>
      <th class="text-center">Quantité</th>
      <th *ngIf="userRoles?.includes('ROLE_ADMIN')" class="text-center">Employer</th>
      <th *ngIf="userRoles?.includes('ROLE_ADMIN')" class="text-center">Montant</th>
      <th class="text-center">Status</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table> -->
