<!-- <div class="quantity-control">
  <button (click)="decrementQuantity()">-</button>
  <input type="number" name="quantity" [(ngModel)]="inQuantity">
  <button (click)="incrementQuantity()">+</button>
</div> -->

<!-- <div class="quantity-control">
  <button (click)="decrementQuantity()">-</button>
  <input type="number" [value]="quantity" (input)="changeQuantity($event)" [aria-label=" Quantity" ] />
  <button (click)="incrementQuantity()">+</button>
</div> -->

<div class="d-flex justify-content-between">
  <button (click)="decrease()" class="col">-</button>
  <input (input)="onInputChange($event)" [value]="quantity" class="col" name="quantity" type="text"/>
  <button (click)="increase()" class="col">+</button>
</div>
