<!-- <div class="quantity-control">
  <button (click)="decrementQuantity()">-</button>
  <input type="number" name="quantity" [(ngModel)]="inQuantity">
  <button (click)="incrementQuantity()">+</button>
</div> -->

<!-- <div class="quantity-control">
  <button (click)="decrementQuantity()">-</button>
  <input type="number" [value]="quantity" (input)="changeQuantity($event)" [aria-label=" Quantity" ] />
  <button (click)="incrementQuantity()">+</button>
</div> -->


<button (click)="decrease()" class="col-3">-</button>
<input (input)="onInputChange($event)" [value]="inQuantity" class="col" name="quantity" type="text" />
<button (click)="increase()" class="col-3">+</button>